$colorText: #fff;
$colorTextSecondary: #000;

$colorButton: #2980b9;


// Fazer gradiente com as cores do cubo
$colorGradient1: #ecf0f1;
$colorGradient2: #f1c40f;
$colorGradient3: #2980b9;
$colorGradient4: #2ecc71;
$colorGradient5: #c0392b;
$colorGradient6: #d35400;